<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-3">
      <div class="card-counter primary">
        <i class="fa fa-code-fork"></i>
        <span class="count-numbers">{{customerCounter ? customerCounter : '0'}}</span>
        <span class="count-name">Total Customers</span>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card-counter danger">
        <i class="fa fa-ticket"></i>
        <span class="count-numbers">{{productCounter ? productCounter : '0'}}</span>
        <span class="count-name">Total Products</span>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card-counter success">
        <i class="fa fa-database"></i>
        <span class="count-numbers">{{todayOrder ? todayOrder : '0'}}</span>
        <span class="count-name">Total Orders</span>
      </div>
    </div>
  </div>
</div>
