<div class="m-4">
  <div class="row">
    <div class="col">
      <div class="left-align mt-2">
        <div class="mt-4" style="width: 350px;">
          <ng-select [items]="demoItems" bindLabel="name" bindValue="cust_id" (change)="onCustomerChange()"
            [(ngModel)]="activeStatus" [clearable]="true" class="theme-ngselect" appendTo="body" placeholder="Customer">
          </ng-select>
        </div>
      </div>
    </div>
  </div>
  
  <div style="max-height: 680px; overflow-y: auto;" class="mt-4">
    <table class="table table-hover table-striped table-bordered sticky-header">
      <thead class="thead-dark">
        <tr>
          <th style="width: 1%;"><b>#</b></th>
          <th style="width: 25%;"><b>Customer Name</b></th>
          <th style="width: 10%;"><b>Mobile No.</b></th>
          <th style="width: 10%;"><b>Date</b></th>
          <th style="width: 10%;"><b>Total</b></th>
          <th style="width: 5%;"><b>Product</b></th>
          <!-- <th scope="col"><b>Address</b></th> -->
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of salesListing | paginate: { itemsPerPage: itemsPerPage, currentPage: p }; index as i">
          <td>{{itemsPerPage * (p - 1) + i + 1}}</td>
          <td>{{item.name}}</td>
          <td>{{item.mobile}}</td>
          <td>{{item.date | date: 'dd MMM YYYY'}}</td>
          <td>{{item.total}}</td>
          <td>
            <button class="btn btn-outline-secondary m-2 btn-sm" (click)="openProductModal(item)">
              <i class="typcn typcn-eye-outline"></i>
            </button>
            <!-- <button (click)="openProductModal(item)" class="btn btn-sm">
              <i class="typcn typcn-plus"></i>
            </button>   -->
          </td>
        </tr>
        <tr *ngIf="this.utilsService.isEmptyObjectOrNullUndefined(salesListing)">
          <td colspan="8" class="text-center">
            <span
              class="truncate"><b>No Record Found.</b></span>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="pagination-container">
      <div class="d-flex justify-content-end">
        <pagination-controls
          previousLabel="Prev"
          nextLabel="Next"
          (pageChange)="p = $event"
        >
        </pagination-controls>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="billSalesModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title fs-5" id="exampleModalLabel">Product Details</h3>
        <button class="btn btn-icon" data-bs-dismiss="modal" aria-label="Close">
          <i class="typcn typcn-delete-outline"></i>
        </button>
      </div>

      <div class="modal-body">
        <div style="max-height: 650px; overflow-y: auto;">     
          <table class="table table-hover table-striped table-bordered">
            <thead class="thead-dark">
              <tr>
                <th>#</th>
                <th>Product</th>
                <th>Quantity</th>
                <th>GST</th>
                <th>Discount</th>
                <th>Price</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of selectedCustomer?.product; index as i">
                <th scope="row">{{i + 1}}</th>
                <td>{{item.product_name}}</td>
                <td>{{item.quantity}}</td>
                <td>{{item.GST}}</td>
                <td>{{item.discount}}</td>
                <td>{{item.total | number : '1.2-2'}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!--Footer-->
      <div class="modal-footer">
        <tr>
          <td>Total Price: <b>{{selectedCustomer?.total | number : '1.2-2'}}</b></td>
        </tr>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>