<div class="m-4">
  <h3 class="m-1">Select Customer</h3>
  <div class="mt-3" style="width: 350px;">
    <ng-select [items]="demoItems" bindLabel="name" bindValue="id" (change)="onCustomerChange()"
      [(ngModel)]="activeStatus" [clearable]="true" class="theme-ngselect" appendTo="body" placeholder="Customer">
    </ng-select>
  </div>
  <div>
    <button [disabled]="!activeStatus" class="btn btn-secondary mt-3 btn-sm" (click)="openAddProductModal()"><i class="typcn typcn-pencil"></i> Add New Product</button>
  </div>

  <div class="below-drop">
    <span class="mt-2"><b>Email:</b> {{billingDetails[0]?.email}}</span>
    <span class="mt-4"><b>Mobile:</b> {{billingDetails[0]?.mobile}}</span>
    <span class="mt-4"><b>Address:</b> {{billingDetails[0]?.address}}</span>
  </div>

  <hr/>

  <div class="table-responsive">
    <table class="table table-hover table-striped table-bordered">
      <thead>
        <tr>
          <th><b>#</b></th>
          <th><b>Product Name</b></th>
          <th><b>Quantity</b></th>
          <th><b>GST</b></th>
          <th><b>Price</b></th>
          <th><b>Discount</b></th>
          <th><b>Total</b></th>
          <th><b>Action</b></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of billingDetails[0]?.product">
          <td>{{item.id}}</td>
          <td>{{item.product_name}}</td>
          <td><input type="number" class="form-control" [(ngModel)]="item.quantity"></td>
          <td>{{item.GST}}</td>
          <td>{{item.Price}}</td>
          <td><input type="text" class="form-control" [(ngModel)]="item.discount"></td>
          <td>{{item.total}}</td>
          <td>
            <button (click)="onDeleteProduct(item)" type="button" class="btn btn-outline-danger btn-icon btn-sm" style="margin-left: 10px;">
              <i class="typcn typcn-trash"></i>
            </button>
          </td>
        </tr>
        <tr *ngIf="billingDetails[0]?.product">
          <td></td>
          <td></td>
          <td><b>{{quantityTotal}}</b></td>
          <td></td>
          <td><b>{{priceTotal}}</b></td>
          <td></td>
          <td>Final Total</td>
          <td></td>
        </tr>
        <tr *ngIf="this.utilsService.isEmptyObjectOrNullUndefined(billingDetails[0])">
          <td colspan="20" class="text-center">
            <span
              class="truncate"><b>No Record Found.</b></span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="mt-2 me-2 row">
    <div class="col text-start">
      <button class="btn btn-secondary m-2 btn-sm"><i class="typcn typcn-pencil"></i> Save Bill</button>
    </div>
    <div class="col right-align">
      <button class="btn btn-secondary m-2 btn-sm"><i class="typcn typcn-pencil"></i> Print Bill</button>
    </div>
  </div>
  

</div>


<div class="modal fade" id="addEditProductBilling" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title fs-5" id="exampleModalLabel">Product Details</h3>
        <a class="btn-icon" data-bs-dismiss="modal" aria-label="Close">
          <i class="mdi mdi-close-box"></i>
        </a>
      </div>
      <div class="modal-body">
        <form class="forms-sample" [formGroup]="productFormGroup">
          <div class="form-group">
            <label for="exampleInputProduct">Product Name<span class="text-danger">*</span></label>
            <input type="text" class="form-control form-control-sm" id="exampleInputProduct" placeholder="Product Name" [(ngModel)]="productObj.product_name"
              autocomplete="off" formControlName="product_name" [maxlength]="25">
            <span
              *ngIf="productFormGroup.controls['product_name'].hasError('required') &&  productFormGroup.controls['product_name'].touched"
              class="text-danger">Product Name is required!
            </span>
          </div>
          <div class="form-group">
            <label for="exampleInputPrice">Price<span class="text-danger">*</span></label>
            <input type="text" class="form-control form-control-sm" id="exampleInputPrice" placeholder="Price" [(ngModel)]="productObj.price"
              autocomplete="off" formControlName="price" [maxlength]="10">
            <span
              *ngIf="productFormGroup.controls['price'].hasError('required') &&  productFormGroup.controls['price'].touched"
              class="text-danger">Price is required!
            </span>
          </div>
          <div class="form-group">
            <label for="exampleInputTax">Quantity<span class="text-danger">*</span></label>
            <input type="text" class="form-control form-control-sm" id="exampleInputTax" placeholder="Quantity" autocomplete="off" [(ngModel)]="productObj.quantity"
              formControlName="quantity" [maxlength]="25">
            <span *ngIf="productFormGroup.controls['quantity'].hasError('required') &&  productFormGroup.controls['quantity'].touched"
              class="text-danger">Quantity is required!
            </span>
          </div>
          <div class="form-group">
            <label for="exampleInputTax">Tax<span class="text-danger">*</span></label>
            <input type="text" class="form-control form-control-sm" id="exampleInputTax" placeholder="Tax" autocomplete="off" [(ngModel)]="productObj.tax"
              formControlName="tax" [maxlength]="25">
            <span *ngIf="productFormGroup.controls['tax'].hasError('required') &&  productFormGroup.controls['tax'].touched"
              class="text-danger">Tax is required!
            </span>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Close</button>
        <button class="btn btn-secondary" (click)="onSave()">Submit</button>
      </div>
    </div>
  </div>
</div>
